.error-message {
	color: red;
	margin: 10px 0;
}

.hoverable:hover {
	background-color: #d86dcf;
	color: #000;
	transition: background-color 0.3s ease;
}

.submit:hover {
	background-color: #d86dcf;
	color: #000;
}
